<div class="login-form {{disabled?'disabled':''}}">
    <h1>{{strings.FORGET_PASSWORD}}</h1>
    <app-spinner-component class="spinner" *ngIf="isLoad"></app-spinner-component>
    <form class="form" novalidate>
        <div class="form-group {{model.isEmailValid?'':'error'}}">
            <label>{{strings.EMAIL}}</label>
            <input name="username"
                   [(ngModel)]="model.email"
                   (keypress)="onKeyPress($event)"
                   type="email"
                   class="form-control"
                   placeholder="Email"
                   [disabled]="disabled" />
        </div>
        <div class="alert alert-danger" *ngIf="!model.isEmailValid">
            {{strings.INVALID_EMAIL}}
        </div>
        <div class="alert alert-danger" *ngIf="model.isFail">
            {{strings.UNABLE_TO_RECOVERY_PASSWORD}}
        </div>
        <button type="button" class="btn btn-primary" (click)="onSubmit()" [disabled]="disabled">{{strings.SUBMIT}}</button>
        <button type="button" class="btn btn-default back-btn" (click)="onBack()" [disabled]="disabled">{{strings.BACK}}</button>
    </form>
</div>
