<div class="login-form {{disabled?'disabled':''}}">
    <h1>
        <span *ngIf="!recoverySuccess">{{strings.RECOVERY_PASSWORD}}</span>
        <span  *ngIf="recoverySuccess">{{strings.RECOVERY_PASSWORD_SUCCESS}}</span>
    </h1>

    <app-spinner-component class="spinner" *ngIf="isLoad"></app-spinner-component>
   
    <form class="form" novalidate *ngIf="!recoverySuccess">
        <div class="form-group {{model.isEmailValid?'':'error'}}" *ngIf="noEmail">
            <label>{{strings.EMAIL}}</label>
            <input name="email"
                   [(ngModel)]="model.email"
                   (keypress)="onKeyPress($event)"
                   type="text"
                   class="form-control"
                   placeholder="{{strings.EMAIL}}"
                   [disabled]="disabled" />
        </div>
        <div class="form-group {{model.isCodeValid?'':'error'}}">
            <label>{{strings.CODE}}</label>
            <p class="help-text">{{strings.GET_CODE_FROM_EMAIL}}</p>
            <input name="code"
                   [(ngModel)]="model.code"
                   (keypress)="onKeyPress($event)"
                   type="text"
                   class="form-control"
                   placeholder="{{strings.CODE}}"
                   [disabled]="disabled" />
        </div>
        <div class="form-group {{model.isPasswordValid?'':'error'}}">
            <label>{{strings.NEW_PASSWORD}}</label>
            <input name="new-password"
                   [(ngModel)]="model.newPassword"
                   (keypress)="onKeyPress($event)"
                   type="password"
                   class="form-control"
                   placeholder="{{strings.NEW_PASSWORD}}"
                   [disabled]="disabled" />
            <div class="alert alert-danger" *ngIf="!model.isPasswordValid">
                {{strings.INVALID_PASSWORD}}
            </div>
        </div>
        <div class="form-group {{model.isPasswordMatch?'':'error'}}">
            <label>{{strings.CONFIRM_PASSWORD}}</label>
            <input name="confirm-password"
                   [(ngModel)]="model.confirmPassword"
                   (keypress)="onKeyPress($event)"
                   type="password"
                   class="form-control"
                   placeholder="{{strings.CONFIRM_PASSWORD}}"
                   [disabled]="disabled" />
            <div class="alert alert-danger" *ngIf="!model.isPasswordMatch">
                {{strings.CONFIRM_PASSWORD_NOT_MATCH}}
            </div>
        </div>
        <div class="alert alert-danger" *ngIf="model.isFail">
            {{strings.UNABLE_TO_RECOVERY_PASSWORD}}
        </div>
        <button type="button" class="btn btn-primary" (click)="onSubmit()" [disabled]="disabled">{{strings.SUBMIT}}</button>
        <button type="button" class="btn btn-default back-btn" (click)="onBack()" [disabled]="disabled">{{strings.BACK}}</button>
    </form>

    <div *ngIf="recoverySuccess">
        {{strings.RECOVERY_PASSWORD_SUCCESS_MESSAGE}}

        <div class="recovery-button">
            <button type="button" class="btn btn-default back-btn" (click)="onBackToLogin()" [disabled]="disabled">{{strings.LOGIN}}</button>
        </div>
    </div>
</div>
