html {
    height: 100%;
}

body {
    padding-bottom: 70px;
    height: 100%;
    background: #fdfdfd;
    overflow-x:hidden;
    max-width: 100%;
}

app-root {
    display: block;
    opacity: 0;

    &.active {
        -webkit-transition: opacity .5s ease-in;
        -moz-transition: opacity .5s ease-in;
        -o-transition: opacity .5s ease-in;
        opacity: 1;
    }
}

footer {
    position: fixed;
    bottom: 0;
    height: 70px;
    background-color: #f8f9fa;
    display: block;
    width: 100%;
    z-index: 1;
}

.form-group.error {
    input.form-control, select.form-control {
        border: 1px solid #f00;
    }
}

input.form-control {
    outline: none;
    box-shadow: none !important;
}

.page {
    padding: 36px 16px;
    margin-bottom: 70px;

    h1 {
        margin-bottom: 16px;
    }

    .btn {
        min-width: 150px;
    }
}

.card {
    padding: 24px 36px;
    border: 1px solid #ebebeb;
}

.form-group {
    .alert {
        margin-top: 5px;
    }

    .help-text {
        font-size: 13px;
        color: #999;
        margin-bottom: 6px;
        margin-top: -10px;
    }
}

.row {
    h1 {
        display: inline-block;
    }

    button {
        float: right;
    }
}

@media screen and (max-width: 767px) {
    .page {
        padding: 36px 0px;
    }
}
