:host {
    min-width: 300px;
    display: block;
    margin: 0 auto;
    max-width: 500px;
    margin-top: 12%;
    border: 1px solid #ebebeb;
    padding: 24px;
    border-radius: 5px;
    background-color: #fff;

    h1 {
        display: inline-block;
    }

    .disabled {
        opacity: 0.6;
        display: inline-block;
        width: 100%;
    }

    .spinner {
        float: right;
        position: relative;
        top: 6px;
    }

    .forget-password-link {
        display: inline-block;
        margin-left: 10px;
    }
}

@media screen and (max-width: 1600px) {
    :host {
        margin-top: 15%
    }
}
